/* Fade 패턴 기본값
  - 전역 오염 최소화를 위해 “.is-fade” 접두어 강제
  - 상태 클래스도 동일 접두어로 통일(.is-fade-ready, .is-fade-animating)
*/

.is-fade{
  --fade-duration: #{$interaction-duration-md};
  --fade-delay: 0ms;
  --fade-easing: #{$interaction-ease-standard};
  --fade-from-opacity: 0;

  opacity: 1;
  transform: translateZ(0);
}

.is-fade.is-fade-ready{
  opacity: var(--fade-from-opacity);
}

