/* Viewer용(or 공통) 모션 토큰
  - interaction 모듈과 별도로 두되, 값은 동일 컨벤션을 사용한다.
*/

$viewer-duration-xs: 120ms !default;
$viewer-duration-sm: 240ms !default;
$viewer-duration-md: 600ms !default;
$viewer-duration-lg: 900ms !default;
$viewer-duration-xl: 1200ms !default;

$viewer-ease-standard: cubic-bezier(0.2, 0.8, 0.2, 1) !default;
$viewer-ease-emphasized: cubic-bezier(0.2, 0, 0, 1) !default;
$viewer-ease-linear: linear !default;

