/* Interaction Lab Motion Mixins
  - 회사 SCSS 구조에 의존하지 않는 “모션 전용” 믹스인만 제공
*/

@import "./motion-tokens";

@mixin interaction-reduced-motion {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}

@mixin interaction-transition(
  $property: all,
  $duration: $interaction-duration-sm,
  $easing: $interaction-ease-standard,
  $delay: 0ms
) {
  transition: #{$property} #{$duration} #{$easing} #{$delay};
}

